body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #111;
  color: #fff;
  padding: 60px 20px 0;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-column {
  flex: 1 1 250px;
  text-align: center;
}

.footer-column li {
  list-style: none;
  text-align: center;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
  position: relative;
}

.footer-column h3::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -6px;
  left: 0;
  justify-content: center;
}

.footer-column p,
.footer-column a {
  color: #ccc;
  font-size: 14px;
  margin: 8px 0;
  display: block;
  text-decoration: none;
  justify-content: center;
}

.footer-column a:hover {
  color: #fff;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin: 8px 0;
}

.list li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.list li a:hover {
  color: #fff;
}

/* Icon Sosmed */
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  justify-content: center;
}

.social-icons a i {
  font-size: 20px;
  color: #ccc;
  transition: color 0.3s ease;
}

.social-icons a:hover i {
  color: #fff;
}

.bottom-bar {
  text-align: center;
  padding: 20px 10px;
  color: #aaa;
  font-size: 13px;
  margin-top: 40px;
  margin: 0;
}

/* Responsif */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    text-align: center;
  }

  .footer-column h3::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
